# List required packages in this file, one per line.

bluesky
bluesky-live
bluesky-widgets
bluesky-kafka
xkcdpass
tiled[all]
numpy
databroker
ophyd
ipython
git+https://github.com/bluesky/databroker.git@v2.0.0b13#egg=databroker